<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <style>
    .navbar {
      background-color: #333;
      border-radius: 0;
    }
    .navbar-brand {
      color: #fff;
      font-size: 24px;
    }
    .navbar-nav li a {
      color: #fff;
    }
    .navbar-nav li a:hover {
      background-color: #555;
    }
    .btn {
      background-color: #333;
      color: #fff;
      border-radius: 0;
      margin-top: 50px;
    }
  </style>
  <title>Home Page</title>
</head>
<body>
  <nav class="navbar navbar-default" style="background-color: #0d7963; color: #fff;">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" style="height:90px; color: #fff;" href="#"><h3>Bank Website</h3></a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a style="color: #fff;" href="login/">Login</a></li>
        <li><a style="color: #fff;" href="register/">Register</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" style="color: #fff;" href="#">Branches
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a style="color: #444;" href="https://en.wikipedia.org/wiki/Kasaragod">Kasargod</a></li>
            <li><a style="color: #333;" href="https://en.wikipedia.org/wiki/Kannur">Kannur</a></li>
            <li><a style="color: #333;" href="https://en.wikipedia.org/wiki/Kozhikkode">Kozhikkode</a></li>
            <li><a style="color: #333;" href="https://en.wikipedia.org/wiki/Malappuram">Malappuram</a></li>
            <li><a style="color: #333;" href="https://en.wikipedia.org/wiki/Palakkad">Palakkad</a></li>
          </ul>
        </li>
      </ul>
    </div>
</nav>


  </header>
	<div class="container">
		<div class="jumbotron text-center">
			<h1 class="display-4">Secure Your Wealth with Us: Welcome to This Bank</h1>
			<p class="lead">Discover the world of financial knowledge</p>
			<hr class="my-4">
			<a class="btn btn-primary btn-lg" href="login/" role="button">Login</a>
		</div>
	</div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
